/* gunmetal: #2C2F39
davy's grey: #50535C
spring green: #38E991
anti-flash white: #E8E9ED
/*dutch white: #FFEBC6 *!*/


h2 {
    font-size: 14px;
    font-weight: 400;
}

.outer-container {
    min-height: 95vh;
    background: #E8E9ED;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.inner-container {
    max-width: 1000px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    padding: 75px 40px;
}

footer {
    width: 100%;
    background-color: #38E991;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: fixed;
    bottom: 0;
}

